.wrapper {
  margin: 0 auto;
}


:global(.gameFieldsList) {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

:global(.gameFieldItem) {
  list-style: none;
  width: 30px;
  height: 30px;
  border: 1px solid rgb(19, 184, 55);
  background-color: #fff;
}

:global(.gameFieldItem.active) {
  background-color: rgb(24, 44, 224);
}

:global(.gameFieldItem.notclicked) {
  background-color: rgb(236, 29, 14);
}

:global(.gameFieldItem.clicked) {
  background-color: rgb(19, 184, 55);
}
